<!--# syscode setTitle 記事の一覧 - (!--# code getData system ADMIN site_title #--) #-->

<!--# include head #-->

<div id="contents">
	<div id="tab1" class="motion">
		<h2>記事</h2>
		<div class="main">
			<p class="description">
				就職、転職に役立つ情報をまとめました。<br />
				これからの就職・転職活動にお役立てください。
			</p>
			<div class="message">
				<p>その条件に一致する記事はありませんでした。</p>
				<ul>
					<li><a href="./">トップページ</a></li>
				</ul>
			</div><!--message END-->
		</div><!--main END-->
	</div><!--tab1 END-->
</div><!--contents END-->

<!--# include foot #-->
