<!--# readhead head #--><?xml version="1.0" encoding="UTF-8"?><!--# setTimeFormat U #-->
<source>
<publisher><!--# ecode getSiteProfile site_title #--></publisher>
<publisherurl><!--# ecode getSiteProfile home #--></publisherurl>
<lastBuildDate><!--# view indeed_feed drawGMT (!--# valueAlias indeed_feed ADMIN id created #--) #--></lastBuildDate>
<!--# readend #-->

<!--# readhead list #--><!--# setTimeFormat U #--><job>
<title><![CDATA[<!--# value name #-->]]></title>
<date><![CDATA[<!--# view indeed_feed drawGMT (!--# value regist #--) #-->]]></date>
<referencenumber><![CDATA[<!--# value id #-->]]></referencenumber>
<url><![CDATA[<!--# ecode getSiteProfile home #-->index.php?app_controller=info&type=<!--# variable TYPE #-->&id=<!--# value id #-->]]></url>
<company><![CDATA[<!--# alias cUser owner id name #-->]]></company>
<city><![CDATA[<!--# alias add_sub work_place_add_sub id name #--><!--# value work_place_add_sub2 #--><!--# value work_place_add_sub3 #-->]]></city>
<state><![CDATA[<!--# alias adds work_place_adds id name #-->]]></state>
<country><![CDATA[JP]]></country>
<description><![CDATA[<!--# value job_pr #-->
仕事内容：
<!--# value work_detail #-->
待遇：
<!--# value treatment #-->
休日・休暇：
<!--# value holiday #-->
勤務時間：
<!--# value work_time #-->
応募方法：
<!--# value apply_detail #-->
採用担当者：
<!--# value charger_name #-->
]]></description>
<salary><![CDATA[<!--# value salary_type #--><!--# comma value salary #--><!--# valueReplace salary_type /時給/日給/月給/年俸 円/円/円/万円/万円 #-->]]></salary>
<education><![CDATA[<!--# value apply_license #-->]]></education>
<jobtype><![CDATA[<!--# alias items_form work_style id name #-->]]></jobtype>
<category><![CDATA[<!--# alias items_type category id name #-->]]></category>
</job>
<!--# readend #-->

<!--# readhead foot #--></source>
<!--# readend #-->
