<!--# syscode searchResult setResultNum 30 #-->
<!--# syscode searchResult setPagejumpNum 5 #-->

<!--# include head #-->

<div id="contents">
	<div class="contents_inline c2 clearfix">

		<div class="contents_m">
			<h2>記事</h2>
			<p class="description">
				就職、転職に役立つ情報をまとめました。<br />
				これからの就職・転職活動にお役立てください。
			</p>
			<div class="main">

				<!--# syscode searchResult info #-->

				<div class="contents_box">

					<h2>記事一覧</h2>
					<div class="body">
						<ul class="result-articleList">
							<!--# syscode searchResult result #-->
						</ul>
					</div>

				</div><!--contents_box END-->

				<!--# syscode searchResult pageChange #-->

			</div><!--main END-->
		</div><!--contents_m END-->

		<!--▼サイドカラム-->
		<div class="contents_s">
			<!--# include side_bar #-->
		</div><!--contents_s END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
